

<div style="position: relative; width: 100%; height: 800px; display: block;">
    <div id="map"></div>
</div>

    <div layout="column">
        <md-content class="md-padding" layout="column">
            <div class="lock-size" layout="row" layout-align="center center">
                <md-fab-speed-dial md-open="home.isOpen" md-direction="down" ng-class="md-fling" ng-cloak>
                    <md-fab-trigger>
                        <md-button aria-label="menu" class="md-fab md-warn">
                            <i class="fa fa-clipboard" aria-hidden="true"></i>
                        </md-button>
                    </md-fab-trigger>
                    <md-fab-actions>
                        <div class="md-fab md-raised md-mini">
                            <md-input-container>
                                <label>Filter</label>
                                <md-select ng-model="home.wantedPokeList" multiple>
                                    <md-option ng-value="n" ng-repeat="n in home.dropDownPokeNameSource">{{n}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </md-fab-actions>
                </md-fab-speed-dial>
            </div>
        </md-content>
    </div>

<md-content flex layout-padding>
    <div class="form-group">

        <label ng-bind="home.currentLocationString"></label>

        <md-list-item ng-repeat="poke in home.pokeList | selectedPokeOnly : home.wantedPokeList">
            
            <p>{{poke.pokemon_name}}({{poke.expires}}) : {{ poke.latitude+','+poke.longitude }} </p>

            <a href="" ngclipboard data-clipboard-text="{{ poke.latitude+','+poke.longitude}}">
                <i class="fa fa-clipboard" aria-hidden="true"></i>
            </a>
        </md-list-item>

    </div>
    <form name="homeForm" novalidate ng-submit="home.submitForm()">



        <fieldset ng-disabled="survey.isSaving">

            <div class="row">
                <div class="col-xs-12">
                    <md-input-container class="md-block">
                        <label>Paste your json data here:</label>
                        <textarea ng-model="home.pokeJsonDataSource" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">
                            <span ng-show="!home.isSaving"><i class="fa fa-send-o"></i> Submit</span>
                            <span ng-show="home.isSaving" class="spinner"><i class="fa fa-refresh fa-spin fa-fw" aria-hidden="true"></i>processing</span>
                        </button>
                        <button type="button"
                                class="btn btn-danger"
                                ng-click="home.cancelForm()">
                            <i class="fa fa-close"></i> <span translate="CANCEL">Cancel</span>
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>


    </form>
</md-content>



